{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": [
      "error", {
        "arrowParens": "always",
        "printWidth": 100,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ],
    "no-console": 0
  },
   "extends": "trustpilot"
}
